<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HtOne_v1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-HtOne_v1-20140609105617;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-HtOne_v1-20140609105617.mdf" />
    <!--KENAN DEV Database-->
    <!--<add name="KENANDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = BILDEV.HAWAIIANTEL.COM)(PORT = 1524)))(CONNECT_DATA =(SERVICE_NAME = BILDEV)));User Id=aaSVCHTONE;Password=SvcHt0n3;"/>-->
    <!--KENAN SIT Database-->
    <!--<add name="KENANDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = hhd3021.HAWAIIANTEL.COM)(PORT = 1521)))(CONNECT_DATA =(SID = BILHNL)));User Id=aaSVCHTONE;Password=SvcHt0n3;" />-->
    <!--KENAN QA Database-->
    <!--<add name="KENANDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = hhq9021.hawaiiantel.com)(PORT = 1525)))(CONNECT_DATA =(SERVER = DEDICATED)(SID = BILQA)));User Id=SVCHTONE;Password=K1c2d34Q;" />-->
    <!--KENAN Replica QA Database-->
    <!--<add name="KENANDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = HHQ9321.hawaiiantel.com)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SID = BILQA)));User Id=SVCHTONE;Password=K1c2d34Q;" />-->
    <!--KENAN PRD Database-->
    <add name="KENANDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = hhp9321.hawaiiantel.com)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SID = BILPRD)));User Id=SVCHTONE;Password=P1c5d34K;"/>
    <!--KENAN PRD Replica Database-->
    <!--<add name="KENANDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = hhp9321.hawaiiantel.com)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SID = BILPRD)));User Id=SVCHTONE;Password=P1c5d34K;" />-->
    <!--CRM DEV Database-->
    <!--<add name="CRMDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = CRMDEV.HAWAIIANTEL.COM)(PORT = 1522)))(CONNECT_DATA =(SERVICE_NAME = CRMDEV)));User Id=aaSVCHTONE;Password=SvcHt0n3;"/>-->
    <!--CRM SIT Database-->
    <!--<add name="CRMDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = hhd3023.hawaiiantel.com)(PORT = 1525)))(CONNECT_DATA =(SERVICE_NAME = CRMHNL)));User Id=aaSVCHTONE;Password=SvcHt0n3;"/>-->
    <!-- <add name="CRMDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = hhd3023.HAWAIIANTEL.COM)(PORT = 1525)))(CONNECT_DATA =(SERVICE_NAME = CRMSIT)));User Id=aaSVCHTONE;Password=SvcHt0n3;" /> -->
    <!--CRM QA Database-->
    <!--<add name="CRMDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = HHQ9039.hawaiiantel.com)(PORT = 1734)))(CONNECT_DATA =(SERVICE_NAME = CRMQA)));User Id=SVCHTONE;Password=s1c2d345;" />-->
    <!--CRM Replica QA Database-->
    <!--<add name="CRMDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = HHQ9339.hawaiiantel.com)(PORT = 1738)))(CONNECT_DATA =(SERVICE_NAME = CRMQA)));User Id=SVCHTONE;Password=s1c2d345;" />-->
    <!--CRM PRD Database-->
    <add name="CRMDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = hhp9339.hawaiiantel.com)(PORT = 1734)))(CONNECT_DATA =(SERVICE_NAME = CRMPRD)));User Id=SVCHTONE;Password=s1c2d34P;"/>
    <!--CRM PRD Replica Database-->
    <!--<add name="CRMDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = hhp9339.hawaiiantel.com)(PORT = 1734)))(CONNECT_DATA =(SERVICE_NAME = CRMPRD)));User Id=SVCHTONE;Password=s1c2d34P;" />-->
    <!--Informix DEV Database-->
    <!--<add name="AAIS_NB" providerName="IBM.Data.Informix" connectionString="protocol=onsoctcp;Host=hsd3002.hawaiiantel.com;Service=3101;Server=nb_de_tcp;Database=hk78_syn;User ID=svchtone;Password=Temp12345;"/>-->
    <!--Informix SIT Database-->
    <!--<add name="AAIS_NB" providerName="IBM.Data.Informix" connectionString="protocol=onsoctcp;Host=hsd3006.hawaiiantel.com;Service=3505;Server=dev_aais_nb_tcp;Database=hk78_syn;User ID=svchtone;Password=Temp12345;" />-->
    <!--Informix QA Database-->
    <!--<add name="AAIS_NB" providerName="IBM.Data.Informix" connectionString="protocol=onsoctcp;Host=hsq3002.hawaiiantel.com;Service=3103;Server=nb_qa_tcp;Database=hk78_syn;User ID=svchtone;Password=4zRu6dEW;" />-->
  
    <!-- Replica Account -->
    <!--<add name="AAIS_NB" providerName="IBM.Data.Informix" connectionString="protocol=onsoctcp;Host=HSQ3020.hawaiiantel.com;Service=3104;Server=nb_qa_se_tcp;Database=hk78_syn;User ID=svchtone;Password=4zRu6dEW;"/>-->
    <!--Informix PRD Database-->
    <add name="AAIS_NB" providerName="IBM.Data.Informix" connectionString="protocol=onsoctcp;Host=HSP3020.hawaiiantel.com;Service=3107;Server=nb_pr_se_tcp;Database=hk78_syn;User ID=svchtone;Password=4zRu6dEW;"/>
    <!--<add name="AAIS_NB" providerName="IBM.Data.Informix" connectionString="protocol=onsoctcp;Host=HSP3020.hawaiiantel.com;Service=3107;Server=nb_pr_se_tcp;Database=hk78_syn;User ID=svchtone;Password=4zRu6dEW;"/>-->
    
    <!--Informix PRD Secondary Database-->
    <!--<add name="AAIS_NB" providerName="IBM.Data.Informix" connectionString="protocol=onsoctcp;Host=HSP3020.hawaiiantel.com;Service=3107;Server=nb_pr_se_tcp;Database=hk78_syn;User ID=svchtone;Password=4zRu6dEW;"/>-->
    
    <!--TIBCO DEV Database-->
    <!--<add name="TIBCODB_BED" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = BEDDEV.HAWAIIANTEL.COM)(PORT = 1522)))(CONNECT_DATA =(SERVICE_NAME = BEDDEV)));User Id=HTONEUSR;Password=HT0n3Adm1n;"/>
    <add name="TIBCODB_IC" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = ICDEV.HAWAIIANTEL.COM)(PORT = 1523)))(CONNECT_DATA =(SERVICE_NAME = ICDEV)));User Id=HTONEUSR;Password=HT0n3Adm1n;"/>-->
    <!--TIBCO QA Database-->
    <!--<add name="TIBCODB_BED" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.100.125.59)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = PCQA)));User Id=HTONEUSR;Password=ht0n3pCqA;" />-->
    <!--<add name="TIBCODB_IC" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.100.125.59)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = ICQA)));User Id=HTONEUSR;Password=ht0n31cqA;" />-->
    <!--TIBCO Prod Database-->
    <add name="TIBCODB_BED" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = HHP9013.hawaiiantel.com)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = PCPRD)));User Id=HTONEUSR;Password=PCHT0n3Usr;" />
    <add name="TIBCODB_IC" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = HHP9013.hawaiiantel.com)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = ICPRD)));User Id=HTONEUSR;Password=ICHT0n3Usr;" />

    <add name="HtOne_v1.Models.AppDbContext" connectionString="HtOne_v1.Models.AppDbContext_ConnectionString" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/KenanDb.csdl|res://*/KenanDb.ssdl|res://*/KenanDb.msl;provider=Devart.Data.Oracle;provider connection string=&quot;user id=aaSVCHTONE;password=SvcHt0n3;server=10.100.113.23;direct=True;sid=BILDEV;port=1524&quot;" providerName="System.Data.EntityClient" />

    <!--HTONE DEV-->
    <!--<add name="HTONEEntities" connectionString="metadata=res://*/htOneDbContext.csdl|res://*/htOneDbContext.ssdl|res://*/htOneDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.101.18;initial catalog=HTONE;user id=sql_svchtone;password=Password01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--HTONE QA-->
    <!--<add name="HTONEEntities" connectionString="metadata=res://*/htOneDbContext.csdl|res://*/htOneDbContext.ssdl|res://*/htOneDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.114.31;initial catalog=HTONE;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--HTONE PROD-->
    <add name="HTONEEntities" connectionString="metadata=res://*/htOneDbContext.csdl|res://*/htOneDbContext.ssdl|res://*/htOneDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HWP0331;initial catalog=HTONE;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--LDAP ADHT Configuration-->
    <add key="Path" value="LDAP://ldap.hawaiiantel.com:389/DC=ad,DC=hawaiiantel,DC=com" />
    <add key="Server" value="ADHT" />
    <add key="Filter" value="(memberof=CN=HT_ONE_USERS,OU=Security Groups,OU=Groups,OU=Hawaii,DC=ad,DC=hawaiiantel,DC=com)" />
    <add key="FilterAdmin" value="(memberof=CN=HT_ONE_ADMIN,OU=Security Groups,OU=Groups,OU=Hawaii,DC=ad,DC=hawaiiantel,DC=com)" />
    <!--<add key="AdminFilter" value="(memberof=CN=HT_ONE_ADMIN,OU=Security Groups,OU=Groups,OU=Hawaii,DC=ad,DC=hawaiiantel,DC=com)" />-->
    <!--End-->
    <!--LDAP DEVHT Configuration-->
    <!--<add key="Path" value="LDAP://hwd0001.dev.hawaiiantel.com:389/DC=dev,DC=hawaiiantel,DC=com"/>
		<add key="Server" value="DEVHT"/>
		<add key="Filter" value="(memberof=CN=HT_ONE_USERS,OU=Application Group,OU=Groups,OU=Hawaii,OU=HTUsers,DC=dev,DC=hawaiiantel,DC=com)"/>-->
    <!--End-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Service Type Configuration-->
    <add key="VoiceSerTyp" value="1|5|6|7|8|10|11|12|13|14|20|28|37|44|45|46|50" />
    <add key="VideoSerTyp" value="31" />
    <add key="MiscSerTyp" value="9|27|30|33|34|38|99|97|98" />
    <add key="HostSolSerTyp" value="32|36|47" />
    <add key="DataSerTyp" value="15|16|17|18|19|21|22|23|24|25|26|29|35|39|40|41|42|43|48|49" />
    <!--iPlanet DEV URL: bbgateway-dev.hawaiiantel.com -->
    <!--<add key="iPlanetURL" value="http://10.100.101.73/iplanet-ws/api/customerService" />-->
    <!--iPlanet QA URL-->
    <!--<add key="iPlanetURL" value="http://10.100.100.73/iplanet-ws/api/customerService" />-->
    <!--iPlanet PRD URL-->
    <add key="iPlanetURL" value="http://10.100.98.73/iplanet-ws/api/customerService"/>
  
    <!-- Ticker Refresh Time Setting (in milliseconds) -->
    <add key="TickerRefreshTime" value="300000"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <!--<add assembly="Oracle.DataAccess, Version=2.112.1.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
						If you are deploying to a cloud environment that has multiple web server instances,
						you should change session state mode from "InProc" to "Custom". In addition,
						change the connection string named "DefaultConnection" to connect to an instance
						of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
			-->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="60">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <HtOne_v1.Properties.Settings>
      <setting name="HtOne_v1_iPlanet_ServiceResourceImplService" serializeAs="String">
        <!--<value>http://bbgateway-dev.hawaiiantel.com/iplanet-ws/api/customerService</value>-->
        <value>http://10.100.100.73:8090/iplanet-ws/api/customerService</value>
      </setting>
    </HtOne_v1.Properties.Settings>
  </applicationSettings>
</configuration>